__pycache__/
.vscode/
.idea/
apis/
wandb/
data/
BenchmarkTests/data/
BenchmarkTests/results/
BenchmarkTests/__pycache__/
BenchmarkTests/.ipynb_checkpoints/
*.pkl
*.gif
*.out
*.err
BenchmarkTests/RL/logs/*
*.sh
BenchmarkTests/GNN/datasets/*
BenchmarkTests/GNN/experiments/*
BenchmarkTests/RL/runs/*
BenchmarkTests/RL/old_runs/*
*.npy